.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  padding: 5rem 3rem;

  --btn-raise: 1rem;
  clip-path: polygon(
    var(--btn-raise) 0%,
    calc(100% - var(--btn-raise)) 0%,
    100% 50%,
    calc(100% - var(--btn-raise)) 100%,
    var(--btn-raise) 100%,
    0 50%
  );
  background-color: #fefd64;
  text-transform: uppercase;
}
